# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large data and model files
*.csv
*.tsv
*.json
*.joblib

# Virtual environments
venv/
env/
.env/

# IDE files
.vscode/
.idea/
